@import "tailwindcss";
@import "./skeleton/index.css";
/*@import "@skeletonlabs/skeleton";*/
@import "@skeletonlabs/skeleton-svelte";

/*@import "@skeletonlabs/skeleton/themes/cerberus";*/
@import "./skeleton/themes/terminus.css";
/* @import "@skeletonlabs/skeleton/themes/nosh"; */
/* @import "@skeletonlabs/skeleton/themes/wintry"; */
/*@import "@skeletonlabs/skeleton/themes/concord";*/
/** @see https://daisyui.com/docs/config/ */
@plugin "daisyui" {
    themes: winter --default, forest --prefersdark, light, dark;
    /* themes: all; */
    /* prefix: "d-" */
}

/** adds .form-input .form-textarea .form-select .form-multiselect .form-checkbox .form-radio */
@plugin "@tailwindcss/forms" {
    strategy: "class";
}

@plugin "@tailwindcss/typography";
/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        white-space: nowrap;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
    }

    .visually-hidden.focusable:active,
    .visually-hidden.focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        white-space: inherit;
        clip: auto;
        clip-path: none;
    }
}


