@import "tailwindcss";

@import "node-waves/dist/waves.min.css";
@import "flyonui/variants.css";
@import "flyonui/src/vendor/waves.css";
@import "./daisy-ui/index.css";
@import "./skeleton/index.css";
@import "./skeleton/themes/concord.css";

@plugin "flyonui" {
    exclude: modal;
}
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {

    .btn {
        flex-shrink: initial;
    }

    .appearance-textfield {
        -webkit-appearance: textfield;
        appearance: textfield;
    }

    .appearance-textfield::-webkit-inner-spin-button,
    .appearance-textfield::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        white-space: nowrap;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
    }

    .visually-hidden.focusable:active,
    .visually-hidden.focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        white-space: inherit;
        clip: auto;
        clip-path: none;
    }


}

.preset-glass-neutral {
    background: color-mix(in oklab, var(--color-surface-50-950) 30%, transparent);
    box-shadow: 0 0 30px color-mix(in oklab, var(--color-surface-50-950) 30%, transparent) inset;
    backdrop-filter: blur(16px);
}
