@import "tom-select/dist/css/tom-select.bootstrap4.min.css";

.ts-control {
  box-sizing: border-box;
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
  color: var(--input-fore-color) !important;
  background: var(--input-back-color) !important;
  border: 0.0625rem solid var(--input-border-color);
  border-radius: var(--universal-border-radius);
  box-shadow: none !important;

  &:hover,
  &:focus-within {
    border-color: var(--input-focus-color);
    box-shadow: none;
  }

  [type="text"],
  [type="text"]::placeholder {
    color: var(--input-fore-color);
  }
}

.ts-dropdown.single {
  color: var(--input-fore-color);
  background: var(--input-back-color);
  border: 0.0625rem solid var(--input-border-color);
  border-radius: var(--universal-border-radius);
  box-shadow: none !important;

  .optgroup {
    .optgroup-header {
      font-weight: 600;
      color: var(--input-fore-color);
      background: var(--input-back-color);
    }

    &:before {
      content: none !important;
    }

    .option {
      padding-left: 32px;
    }
  }
}

.ts-wrapper.single .ts-control::after,
.ts-wrapper.single .ts-control:hover::after,
.ts-wrapper.single .ts-control:focus-within::after,
.ts-wrapper.single.dropdown-active .ts-control::after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: block;
  width: 6px;
  height: 6px;
  content: "";
  border-color: var(--input-fore-color) var(--input-fore-color) transparent transparent;
  border-style: solid;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg);
  transform-origin: center center;
}

.ts-wrapper.single .ts-control:not(.rtl)::after {
  right: 8px;
}
