/* Components: Placeholders */

@utility placeholder {
  min-height: --spacing(4);
  background-color: var(--color-surface-200-800);
  border-radius: var(--radius-base);
}

@utility placeholder-circle {
  min-height: --spacing(5);
  aspect-ratio: 1 / 1;
  background-color: var(--color-surface-200-800);
  border-radius: 100%;
}
