html {
    font-size: 16px;
}

body {

    min-height: 100vh;
    min-width: 320px;
    margin: 0;
    padding: 0;
}


:root {
    --font-sans: Poppins, Roboto, Inter, Avenir, sans-serif;
    --default-font-family: var(--font-sans);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
